body {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 14px;
  color: #5A5A5A;
  font-weight: 300;
  line-height: 25px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.header {
  text-transform: uppercase;
  color: #121212;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.header.header-2 {
  margin-top: 30px;
}

.app-btn {
  display: inline-block;
  background-color: #FFBB05;
  color: #343434;
  font-size: 13px;
  padding: 12px 18px;
  border-radius: 3px;
  text-decoration: none;
  border: 1px solid transparent;
}
.app-btn:hover {
  background-color: transparent;
  border: 1px solid #FFBB05;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.app-nav {
  text-align: center;
}
.app-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.app-nav ul li {
  display: inline-block;
  margin: 80px 40px;
}
.app-nav ul li .app-nav-link:hover {
  cursor: pointer;
}
.app-nav ul li .app-nav-link.active .icon-text {
  color: #FFBB05;
}
.app-nav ul li .app-nav-link .icon {
  width: 80px;
  height: 80px;
  background-color: #FFBB05;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.app-nav ul li .app-nav-link .icon:hover {
  background-color: #FFF;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.app-nav ul li .app-nav-link .icon i {
  font-size: 40px;
}
.app-nav ul li .app-nav-link .icon-text {
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-top: 15px;
}

.form-message p {
  color: #000;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 15px;
}
.form-message button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 851px) {
  .app-nav ul li {
    width: 110px;
  }
}
@media (max-width: 850px) {
  .overlay {
    height: 50vh;
  }

  .app-nav {
    background-color: #FFBB05;
  }
  .app-nav ul {
    box-sizing: border-box;
  }
  .app-nav ul li {
    margin: 15px;
  }
  .app-nav ul li .app-nav-link {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 3px solid transparent;
  }
  .app-nav ul li .app-nav-link.active {
    border-bottom-color: #FFF;
  }
  .app-nav ul li .app-nav-link.active i {
    transform: translate(0px, -10px);
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
  }
  .app-nav ul li .app-nav-link .icon {
    width: 25px;
    height: 25px;
  }
  .app-nav ul li .app-nav-link .icon:hover {
    background-color: #FFBB05;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
  }
  .app-nav ul li .app-nav-link .icon i {
    font-size: 25px;
  }
  .app-nav ul li .app-nav-link .icon-text {
    display: none;
  }
}
.app-section .heading {
  text-align: center;
  margin-bottom: 180px;
}
.app-section .heading h1 {
  margin-top: 30px;
  font-size: 38px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 900;
  letter-spacing: 1px;
}
.app-section .heading span {
  font-size: 16px;
  text-transform: uppercase;
  color: #FFBB05;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.app-section .content-container {
  margin-bottom: 100px;
  margin-top: -80px;
  background-color: #FFF;
  border-top: 15px solid #FFBB05;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.app-section .content-container.welcome-content {
  padding: 60px 0;
  text-align: center;
}
.app-section .content-container.welcome-content p {
  padding: 0 20px;
  text-align: center;
  font-size: 1.1rem;
}
.app-section .content-container.about-us-content {
  padding: 30px 0;
  text-align: center;
}
.app-section .content-container.about-us-content p {
  padding: 0 20px;
  text-align: center;
  font-size: 1.1rem;
}
.app-section .content-container.projects-content {
  padding: 30px 0;
  text-align: center;
}
.app-section .content-container.projects-content p {
  padding: 0 20px;
  text-align: center;
  font-size: 1.1rem;
}
.app-section .content-container.projects-content .row-logos {
  padding: 0 15px;
}
.app-section .content-container.projects-content .logo-container {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.app-section .content-container.product-content {
  padding: 30px 0;
}
.app-section .content-container.product-content p {
  text-align: center;
}
.app-section .content-container.product-content .color-header {
  font-weight: 400;
  color: #FFBB05;
  text-align: center;
}
.app-section .content-container.product-content .row-production-stage {
  padding: 0 15px;
}
.app-section .content-container.contact-content {
  padding: 30px;
}
.app-section .content-container.contact-content input, .app-section .content-container.contact-content textarea {
  margin-bottom: 20px;
  padding-left: 15px;
  max-width: 100%;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-size: 13px;
  color: #AAA;
  background-color: #F4F4F4;
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}
.app-section .content-container.contact-content textarea {
  max-height: 180px;
  height: 140px;
  outline: none !important;
}

footer {
  background-color: #FFBB05;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 2;
  margin-top: -1px;
}
footer p {
  font-size: 13px;
  color: #343434;
  margin: 0px;
  padding: 25px 0px;
  text-align: center;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
